<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
    <ion-title>
      Página {{page}}/{{totalPages}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let movie of movies">
      <ion-card>
        <img *ngIf="movie.backdrop_path != null" [src]="getImageUrl(movie.backdrop_path)" />
        <ion-card-content>
          <ion-text><h3>{{movie.release_date}}</h3></ion-text>
          <ion-text><h3>Lingua original: {{movie.original_language}}</h3></ion-text>
          <ion-text><h3>Título original: {{movie.original_title}}</h3></ion-text>
          <ion-text><h1>{{movie.title}}</h1></ion-text>
          <ion-text>{{movie.overview}}</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <!--  -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="page-buttons">
      <ion-button color="primary" (click)="decrementPage()">
        <ion-icon name="chevron-back-outline"></ion-icon> Anterior
      </ion-button>
      <ion-button color="primary" (click)="incrementPage()">
        Próximo <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
